<!DOCTYPE html>
{%load static %}
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 <style type="text/css">
 	body{
 		margin:0;
 		padding: 0;
 		background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)),url('{% static 'pic2.jpg' %}');
 	  background-size: cover;
      width:100%;
      height:100vh;
 	}
 	.vh{
 			
 			bottom: 0px;
 	}

 	h3
 	{
 	  font-size:55px;
      font-style: bold;
      color:white ;
      font-family:verdana;
      line-height: 1;
 		color:grey;
      -webkit-text-fill-color:white;
      -webkit-text-stroke-width:3px;
      font-weight:bold;
 	}
 </style>

</head>
<body>


<div>
	<h1></h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{% static 'logo.png' %}" width="100px" height="100px">
  <a class="navbar-brand" href="/">E-Learning Resource</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"> <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link bg-dark text-light" href="" id="clock"></a>
      <a class="nav-item nav-link" href="">{{request.user.first_name}}  {{request.user.last_name}} </a>
      <a class="nav-item nav-link " href="/">logout</a>
    </div>
  </div>
</nav>
<div class="w-50 mx-auto">
	<h3>E-Learning Resource</h3>
</div>
<div class="container p-1 ">
<!--
	<form method="Post" action="/search1/">{%csrf_token%}
	<div class="w-75 mx-auto border d-flex">
		
	<input type="text" name="keyword" class="form-control">
		<input type="submit" value="search" name="" class="btn btn-dark">
		
	</div>
	</form> -->
</div>


<div class="container">
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
  			<li class="list-group-item">Add New User</li>
  			<li class="list-group-item">Add New Admin </li>
  			<li class="list-group-item">Morbi leo risus</li>
  			<li class="list-group-item">Dashboard</li>
  			<li class="list-group-item">Users</li>
</ul>
		</div>
		<div class="col-md-8">
		<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in usersobj%}
    <tr>
      <th scope="row"></th>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.username}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
		</div>
	</div>
</div>


<div class="container">
	
</div>












<script type="text/javascript">
	function showclock()
	{
		var c= new Date()
		var d=c.getDate()
		var h=c.getHours()
		var m=c.getMinutes()
		var s=c.getSeconds()
		var showtime=String(h)+":"+String(m)+":"+String(s)+":"
		console.log(showtime)
		if(h<12)
		{
		   document.getElementById('clock').innerHTML=showtime+'AM'	
		} 
		else
		{
			document.getElementById('clock').innerHTML=showtime+'PM'	
		}
        }
		setInterval(showclock,1000)
	
</script>
</body>
</html>